<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="" method="post">
      <label for="first_name">First Name : </label>
      <input type="text" id="first_name" name="first_name">
      <br>
      <label for="last_name">Last Name : </label>
      <input type="text" id="last_name" name="last_name">
      <br>
      <label for="annual_sallary">Annual Salary : </label>
      <input type="text" required id="annual_sallary" name="annual_sallary">
      <br>
      <label for="super_rate">Super Rate : </label>
      <input type="text" required id="super_rate" name="super_rate">
      <br>
      <label for="payment_start_date">Payment Start Date : </label>
      <input type="text" id="payment_start_date" name="payment_start_date">
      <br>
      <input type="submit" value="Calculate" name="calculate">
    </form>
  </body>
</html>
